*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px 20px 50px;
    font-size: 18px;
    width: 100%;
    height: 10vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
}

nav{
    display: flex;
}

ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15px;
}

a{
    text-decoration: none;
}

.home{
    color: #E51B3E;
}

.itens{
    color: #626262;
}

.seçao1 img{
    display: flex;
    width: 100%;
}

.seçao2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px 70px;
    gap: 20px;
    flex-wrap: wrap;
}

.seçao2 p{
    width: 100%;
}

.desenvolvimento{
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.desenvolvedor h3{
    font-weight: 500;
    font-size: 24px;
}

.desenvolvedor h4{
    font-weight: 400;
    font-size: 18px;
    color:rgba(0, 133, 255, 0.75);
}

.projetor h3{
    font-weight: 500;
    font-size: 24px;
}

.projetor h4{
    font-weight: 400;
    font-size: 18px;
    color:rgba(0, 133, 255, 0.75);
}

.seçao2 h5{
    font-weight: 400;
    font-size: 36px;
}

iframe{
    width: 1200px;
    height: 659px;
    border-radius: 12px;
    align-self: center;
}

.seçao2 h1{
    font-weight: 800;
    font-size: 64px;
}


footer{
    background-color: #171717;
    color: white;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
    padding-top: 45px;
    padding-bottom: 50px;
    gap: 35px;
}

.integrantes h4{
    font-weight: 400;
    font-size: 24px;
}

.informaçoes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.integrantes{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap:10px;
}

.integrantes span{
    color: rgba(255, 255, 255, 0.753);
}

.redes a{
    width: 30px;
    height: 40px;
}

.checkpoint{
     color: rgba(255, 255, 255, 0.5);
}
