*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px 20px 50px;
    font-size: 18px;
    width: 100%;
    height: 10vh;
    position:-webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    z-index: 100;
}

.menu-sanduiche{
    display: none;
}

nav{
    display: flex;
    transition: 1s;
}

header li{
    transition: all 0.4s;
}

header li:hover{
    transform: rotate(360deg);
}

ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15px;
}

a{
    text-decoration: none;
}

.home{
    color: #E51B3E;
}

.itens{
    color: #626262;
}

.fundo{
    background-color: rgba(0, 0, 0, 0.87);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.texto{
    gap: 10px;
}

.seçao1{
    background-image: url(https://conteudo.imguol.com.br/c/entretenimento/68/2019/01/07/os-10-melhores-jogos-de-2018-na-opiniao-do-uol-jogos-1546887965085_v2_1920x1080.jpg);
    width: 100%;
    height: 90vh;
}

h1{
    color: #E51B3E;
    font-size: 72px;
}
 
.fundo p{
    color: white;
    font-size: 24px;
    font-weight: 300;
}

button{
    width: 322px;
    height: 71px;
    border: 1px solid #33BB69;
    border-radius: 12px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    transition: 1s;     
}

button:hover{
    background-color:white;
    color: #33BB69;
    transform: scale(1.2)
}

.seçao2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    
}

.seçao2 h2{
    font-size: 64px;
}
.container-pai{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
    padding: 50px;
}

.container-itens img{
    width: 100%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    
}

.banner{
    display: flex;
    flex-direction: column;
    width: 407px;
    background-color: #F4F4F4;
    height: 600px;
    border-radius: 12px;
    gap: 10px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    transition: 1s;
    z-index: 1;
}

.banner:hover{
    transform:scale(0.9);
}

.descriçao{
    display: flex;
    flex-direction: column;
    padding: 25px 35px; 
    gap: 10px;
    height: 100%;
    justify-content: space-between;
} 

.descriçao a{
    display: flex;
    align-items: center;
    justify-content:center;
    color: white;
    background-color: #33BB69;
    width: 100%;
    height: 50px;
    border-radius: 12px;
}

.conteudo{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.conteudo p{
    color: rgba(0, 0, 0, 0.753);
}

.abrir{
    transition: all 1s;
}

.abrir:hover{
    background-color:  #222222;
    color: #33BB69;
    transform: scale(0.8)
}

footer{
    background-color: #171717;
    color: white;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
    padding-top: 45px;
    padding-bottom: 50px;
    gap: 35px;
}

.integrantes h4{
    font-weight: 400;
    font-size: 24px;
}

.informaçoes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.integrantes{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    transition: 1s;
}

.integrantes:hover{
    transform:scale(1.2);
    border: #626262;
}

.integrantes span{
    color: rgba(255, 255, 255, 0.753);
}

.redes{
    display: flex;
    gap: 10px;
}

.redes a{
    width: 30px;
    height: 40px;
    transition: 1s;
    animation:pulsar 0.5s infinite alternate;
}

@keyframes pulsar{
    to{
        transform:scale(1.2);
    }
}

.checkpoint{
     color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 460px){
    header{
        padding:20px;
    }
    nav{
        display: none;
    }

    .menu-sanduiche{
        display: block;
    }

    .texto{
        padding: 35px;
    }
    
    .banner{
        width: 100%;
    }
    
    .seçao2{
        background-color: #E51B3E;
    }
    
    .informaçoes{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
        gap: 20px;
        width: 100%;
        padding: 0;
    }

    .integrantes{
        width: 100%;
        align-content: flex-start;
        justify-content: flex-start;
        padding: 0;
    }
}